.popup {
    position: absolute;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#setup {
    width: 100%;
    height: 90%;
}

#punchline {
    width: 100%;
    height: 90%;
}
