.server-settings__container {
    flex-grow: 1;
    background-image: resource('serveroptions');
    -unity-background-scale-mode: scale-and-crop;
    -unity-font-style: bold;
}

.server-settings__ip {
}

.server-settings__port {
}

.server-settings__connect {
    background-color: transparent;
    border-color: transparent;
}

#unity-text-input {
    padding: 0;
    border-color: transparent;
    background-color: transparent;
}
